@model Core.Models.Car

@{
    ViewData["Title"] = "Car";
}

<h1>Car</h1>

<partial name="~/Views/Partial/Headers/_Partial_Form_Header.cshtml" />
<partial name="~/Views/Partial/Forms/_Partial_Car_Form.cshtml"/>

<div>
    <a asp-action="Index">Back to List</a>
</div>
