@model Core.Models.LeaseCompany

@{
    ViewData["Title"] = "Details";
}

<h1>LeaseCompany Details</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<partial name="~/Views/Partial/Headers/_Partial_Form_Header.cshtml" />
<partial name="~/Views/Partial/Forms/_Partial_LeaseCompany_Form.cshtml" />