@model dynamic

<div class="navbar navbar-form navbar-expand-sm bg-info border box-shadow rounded flex-row justify-content-between">
    <div class="navbar-brand text-light"><b>@Model.GetType().Name</b></div>
    <div class="input-group col-md-1">
        <button id="@Model.GetType().Name.ToLower()-new-btn" type="button" class="btn btn-success">Nieuw</button>
    </div>
</div>