@model Core.Models.LeaseCompany

<form id="leasecompany-form" class="pt-3 border border-top-0 rounded-bottom">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-none">
            <label asp-for="Id" class="control-label"></label>
            <input id="leasecompany-id" asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input id="leasecompany-firstname" asp-for="Name" class="form-control" placeholder="John" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="Street" class="control-label"></label>
                <input id="leasecompany-street" asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="offset-md-1 col-md-1">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input id="leasecompany-housenumber" asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-md-2">
                <label asp-for="Zipcode" class="control-label"></label>
                <input id="leasecompany-zipcode" asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="City" class="control-label"></label>
                <input id="leasecompany-city" asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        <div class="offset-md-5 col-md-1 d-flex">
            <input id="leasecompany-save-btn" type="submit" value="Save" class="btn btn-success mt-auto" />
            <input id="leasecompany-edit-btn" type="button" value="Edit" class="btn btn-danger d-none mt-auto" />
        </div>
    </div>
    </div>
</form>